.button
    padding: 10px 25px
    margin: 0 10px
    color: white
    transition: 0.3s
    font-family: Roboto
    font-weight: 700
    text-transform: uppercase
    background: #00897b
    border: 2px solid #00897b
    &:hover
        background: transparent
        border: 2px solid white
        cursor: pointer
.focused
    background: transparent
    border: 2px solid white
    cursor: pointer
    color: black
    border: 1px solid black