.header
        background-image: url(../img/Header.png)
        padding: 180px 0
        text-align: center
        color: white
        background-size: cover
        background-position: 0 100%
        font-family: 'Open Sans Semibold'

.header__title
    font-size: 55px
    letter-spacing: 3px

.header__text
    font-size: 20px
    margin-bottom: 100px