ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans Light";
}

.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: roboto;
  text-transform: uppercase;
}

.button_empty {
  background: transparent;
  border: 2px solid white;
}

.button_empty:hover {
  border: 2px solid white;
  background-color: #04574e;
}

.button_full {
  background-color: #00897b;
  border: 2px solid #00897b;
}

.button_full:hover {
  border: 2px solid white;
  background-color: #04574e;
}

.menu-bar {
  color: #212121;
  padding: 20px 0;
  background-color: #fff;
}

.menu__item {
  margin-left: 37px;
}

.menu__item a {
  font-family: 'Open Sans Semibold';
  font-size: 20px;
  color: #212121;
}

.menu__item a:hover {
  text-decoration: none;
  color: #868686;
}

.header > div {
  background-image: url(../img/Header.png);
  padding: 180px 0;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: 0 100%;
  font-family: 'Open Sans Semibold';
}

.header__title {
  font-size: 55px;
  letter-spacing: 3px;
}

.header__text {
  font-size: 20px;
  margin-bottom: 100px;
}

.about {
  background-color: #fff;
  color: black;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
}

.about__title {
  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans Bold';
  margin-bottom: 25px;
}

.about__icon {
  font-size: 60px;
}

.about__text {
  font-size: 15px;
  margin-bottom: 110px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #212121;
}

.about__h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Open Sans Semibold';
}
