ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans Light";
}

.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  background: #00897b;
  border: 2px solid #00897b;
}

.button:hover {
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
}

.menu-bar {
  color: #212121;
  padding: 20px 0;
  background-color: #fff;
}

.menu__item {
  margin-left: 37px;
}

.menu__item a {
  font-family: 'Open Sans Semibold';
  font-size: 20px;
  color: #212121;
}

.menu__item a:hover {
  text-decoration: none;
  color: #868686;
}

.header {
  background-image: url(../img/Header.png);
  padding: 180px 0;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: 0 100%;
  font-family: 'Open Sans Semibold';
}

.header__title {
  font-size: 55px;
  letter-spacing: 3px;
}

.header__text {
  font-size: 20px;
  margin-bottom: 100px;
}

.about {
  background-color: #fff;
  color: black;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
}

.about__title {
  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans Bold';
  margin-bottom: 25px;
}

.about__icon {
  font-size: 60px;
}

.about__text {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #212121;
}

.about__desc {
  margin-bottom: 110px;
}

.about__h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Open Sans Semibold';
}

.services {
  background-color: #e4fdf9;
  padding-top: 165px;
  padding-bottom: 125px;
  color: black;
  text-align: center;
}

.our_card__desc {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
  margin-bottom: 45px;
}

.our_card {
  background-color: white;
  padding: 50px 25px 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 30px;
}

.our_card:hover {
  background-color: #00897b;
  color: white !important;
  -webkit-box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.our_card:hover .icon {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our_card:hover .button-services {
  border: 2px solid white;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icon {
  font-size: 60px;
  color: black;
}

.service__desc {
  margin-bottom: 115px;
}

.button-services {
  text-transform: uppercase;
  border: 2px solid black;
  background: transparent;
  padding: 10px 12px 10px;
  font-family: 'Open Sans Semibold';
}

.button-services:hover {
  cursor: pointer;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 135px;
  text-align: center;
}

.portfolio button {
  font-family: "Open Sans Semibold";
}

.portfolio button:hover {
  color: black;
  border: 2px solid #00897b;
  background: transparent;
}

.portfolio img {
  margin-bottom: 30px;
}

.filter {
  padding: 120px 0;
}
