ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans Light";
}

#toTop {
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  background: #00897b;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: black;
}

.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  background: #00897b;
  border: 2px solid #00897b;
}

.button:hover {
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
}

.focused {
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  color: black;
  border: 1px solid black;
}

.menu-bar {
  color: #212121;
  padding: 20px 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-icon {
  display: none;
}

.logo {
  width: 180px;
}

.menu__item {
  margin-left: 37px;
}

.menu__item a {
  font-family: 'Open Sans Semibold';
  font-size: 20px;
  color: #212121;
}

.menu__item a:hover {
  text-decoration: none;
  color: #868686;
}

@media screen and (max-width: 768px) {
  .logo-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    display: none;
  }
  .logo-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-icon {
    display: block;
    background: #00897b;
    border: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

.header {
  background-image: url(../img/Header.png);
  padding: 180px 0;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: 0 100%;
  font-family: 'Open Sans Semibold';
}

.header__title {
  font-size: 55px;
  letter-spacing: 3px;
}

.header__text {
  font-size: 20px;
  margin-bottom: 100px;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 20px;
  }
  .header__title {
    font-size: 35px;
  }
  .header__text {
    margin-bottom: 20px;
  }
  .header .button {
    margin-bottom: 10px;
  }
}

.about {
  background-color: #fff;
  color: black;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
}

.about__title {
  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans Bold';
  margin-bottom: 25px;
  margin-top: 25px;
}

.about__icon {
  font-size: 60px;
}

.about__text {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #212121;
}

.about__desc {
  margin-bottom: 110px;
}

.about__h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Open Sans Semibold';
}

@media screen and (max-width: 480px) {
  .about {
    padding: 20px;
  }
  .about__text {
    margin-bottom: 20px;
  }
}

.services {
  background-color: #e4fdf9;
  padding-top: 165px;
  padding-bottom: 125px;
  color: black;
  text-align: center;
}

.our_card__desc {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
  margin-bottom: 45px;
}

.our_card {
  background-color: white;
  padding: 50px 25px 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 30px;
}

.our_card:hover {
  background-color: #00897b;
  color: white !important;
  -webkit-box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.our_card:hover .icon {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our_card:hover .button-services {
  border: 2px solid white;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icon {
  font-size: 60px;
  color: black;
}

.service__desc {
  margin-bottom: 115px;
}

.button-services {
  text-transform: uppercase;
  border: 2px solid black;
  background: transparent;
  padding: 10px 12px 10px;
  font-family: 'Open Sans Semibold';
}

.button-services:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .services {
    padding: 20px;
  }
  .service__desc {
    margin-bottom: 30px;
  }
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 135px;
  text-align: center;
}

.portfolio .filter {
  min-height: 640px;
}

.portfolio button {
  font-family: "Open Sans Semibold";
}

.portfolio button:hover {
  color: black;
  border: 2px solid #00897b;
  background: transparent;
}

.portfolio img {
  margin-bottom: 30px;
  max-width: 100%;
}

.filter {
  padding: 120px 0;
}

.text {
  display: none;
}

div[filter]:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

div[filter]:hover .text {
  display: block;
  width: 100%;
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 20px;
  }
  .portfolio .button {
    margin-bottom: 10px;
  }
  .filter {
    padding: 20px;
  }
}

.pricing {
  padding-top: 165px;
  padding-bottom: 125px;
  color: black;
  background: #f0f1f1;
  text-align: center;
}

.price {
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
}

.price:hover {
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
}

.price__head {
  color: white;
  padding-top: 40px;
  padding-bottom: 65px;
  background-image: url(../img/pricing_bg.png);
  background-size: cover;
  max-height: 211px;
  font-size: 50px;
}

.price__head p {
  font-size: 25px;
}

.price__head sub {
  font-size: 17px;
  vertical-align: middle;
}

.price__head sup {
  font-size: 25px;
  vertical-align: middle;
}

.price__body {
  font-size: 17px;
  color: #212121;
}

.price__body li {
  border-bottom: 1px solid #bfbfbf;
  max-width: 175px;
  margin: 0 auto;
  padding: 28px 0 12px;
}

.price__footer {
  padding: 60px 0;
}

.price__footer button {
  border: 2px solid #212121;
  color: #212112;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  height: 60px;
  width: 180px;
  font-family: Open Sans Semibold, serif;
}

.price__footer button:hover {
  color: white;
  text-transform: uppercase;
  background: #00897b;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .pricing {
    padding: 20px;
  }
}

.team {
  padding-top: 165px;
  padding-bottom: 125px;
  color: black;
  background: #fff;
  text-align: center;
}

.team .about__text {
  margin-bottom: 100px;
}

.team h4 {
  font-size: 20px;
  font-family: 'Open Sans Semibold';
  margin-top: 30px;
}

.team p {
  font-size: 15px;
  margin-bottom: 30px;
  letter-spacing: 0.75px;
  font-family: 'Open Sans Regular';
}

.team img {
  margin: 0 auto;
  max-width: 340px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icons .icons a:hover {
  text-decoration: none;
}

.icons i:nth-child(1) {
  color: #f0f1f1;
  border-radius: 3px;
}

.icons i:nth-child(2) {
  color: #00897b;
}

.icons a:hover i:nth-child(1) {
  color: #3949ab;
}

.icons a:hover i:nth-child(2) {
  color: white;
}

.multiple-items {
  margin-top: 125px;
}

.dots-style {
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dots-style button {
  background: #00897b;
  border: none;
  border-radius: 50%;
  font-size: 0;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.dots-style li[class="slick-active"] button {
  background: #3949ab;
}

@media screen and (max-width: 480px) {
  .team {
    padding: 20px 0;
  }
  .team .about__text {
    margin-bottom: 20px;
  }
  .team img {
    max-width: 300px;
    padding: 0 5px;
  }
  .multiple-items {
    margin-top: 10px;
  }
  .dots-style {
    margin-top: 10px;
  }
}

.section-blog {
  padding: 0 40px;
}

.left > div:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.left > div:last-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.right > div:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.right > div:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blog__header {
  margin-bottom: 125px;
}

.blog-item {
  width: 48%;
}

.blog {
  text-align: left;
  margin-top: 60px;
}

.blog div {
  margin-top: 15px;
  margin-bottom: 20px;
}

.blog a {
  font-size: 25px;
  color: #00897b;
  font-family: 'Open Sans Semibold';
}

.blog span {
  font-size: 17px;
  font-family: 'Open Sans Semibold';
  margin-right: 35px;
}

.blog i {
  margin-right: 15px;
}

.blog p {
  font-size: 15px;
}

.blog__header-title {
  margin-bottom: 30px;
}

.left, .right {
  margin: 0 -40px;
}

.blog__button {
  width: 220px;
  height: 70px;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  margin-top: 125px;
  margin-bottom: 30px;
  border: none;
  background: #00897b;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Open Sans Bold';
  letter-spacing: 1px;
}

.blog__button:hover {
  color: black;
  background: transparent;
  border: 2px solid #00897b;
}

@media screen and (max-width: 480px) {
  .blog {
    margin-top: 20px;
  }
  .blog__header {
    margin-bottom: 25px;
  }
  .left, .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-item, .blog {
    width: 100%;
  }
  .right > div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right > div:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .blog i {
    margin-right: 5px;
  }
  .blog span {
    margin-right: 15px;
  }
  .blog__button {
    margin-top: 30px;
    width: 135px;
    height: 35px;
    font-size: 15px;
  }
}

.footer {
  padding-top: 165px;
  padding-bottom: 125px;
  color: white;
  text-align: center;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer input, .footer textarea {
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.footer input:focus, .footer textarea:focus {
  outline: none;
}

.footer textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  resize: none;
}

.footer__text {
  color: white;
}

.fa-map-marker-alt, .fa-phone, .fa-envelope {
  font-size: 62px;
  color: white;
}

.circle {
  background: #3949ab;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 35px;
}

.circle + p {
  font-size: 20px;
}

.form {
  margin-top: 70px;
}

.footer__button {
  font-size: 20px;
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  color: #212121;
  padding: 20px 77px;
  border-radius: 10px;
  -webkit-transform-style: .3s;
          transform-style: .3s;
}

.footer__button:hover {
  background-color: #3949ab;
  color: white;
}

.rules {
  padding: 20px 0;
  text-align: center;
  font-family: 'Open Sans Semibold';
}

@media screen and (max-width: 1024px) {
  .footer input, .footer textarea {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 20px;
  }
  .form {
    margin-top: 20px;
  }
  .footer__button {
    font-size: 15px;
    padding: 10px 30px;
  }
}
