.container
    max-width: 1180px
    margin: 0 auto
    padding: 0 15px
    &--wide
        max-width: 1200px
.visuallyhidden
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    border: 0
    padding: 0
    white-space: nowrap
    clip-path: inset(100%)
    clip: rect(0 0 0 0)
    overflow: hidden

body
    @include regular
    color: #314584
    background: white
    background-image: url(../images/bg-2.png), url(../images/bg-3.png), url(../images/bg-5.png)
    background-repeat: no-repeat, no-repeat, no-repeat
    background-position: top 1100px left, top 1300px right, top 3500px right

a
    text-decoration: none
    @include semibold
.section-title
    font-size: 45px
    line-height: 65px
.button-red
    background-color: #ff3946
    color: #fff
    min-width: 220px
    display: inline-block
    text-align: center
    padding: 20px 10px
    border-radius: 40px
    font-size: 18px
    line-height: 20px
    box-shadow: 0px 19px 32px -17px #515151
    transition: all 0.2s
    

    &:hover
        box-shadow: none
        background-color: #f35762

.button-inherit
    font-size: 18px
    line-height: 20px
    padding: 20px 10px
    transition: all 0.2s
    &:hover
        text-decoration: underline
//модальные окна
.overlay 
    
    /* Скрываем подложку  */
    opacity: 0
    visibility: hidden
    
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .5)
    z-index: 20
    transition: .3s all
.modal
    opacity: 0
    visibility: hidden
    z-index: 30
    position: fixed
    min-width: 320px
    width: 700px

    top: 50%
    left: 50%
    transform: translate(-50%, -50%) 
    background-color: white
    padding: 40px
.modal.active,.overlay.active
    opacity: 1
    visibility: visible


.close-btn 
    position: absolute
    right: 27px
    top: 15px
    width: 50px
    height: 50px
    opacity: 0.7
    background: inherit
    border: none
    outline: none
    padding: 10px
    &:hover 
        opacity: 1
    &:before, &:after 
        position: absolute
        left: 24px
        top: 9px
        content: ' '
        height: 33px
        width: 2px
        background-color: #ff3946
    &:before 
        transform: rotate(45deg)
    &:after 
        transform: rotate(-45deg)
    
.contact__modal
    
.section-subtitle
    font-size: 18px
    line-height: 20px
    color: #ff3946
    text-transform: uppercase
    @include semibold
.portfolio__section

    margin-top: 150px
.news__section
    margin-bottom: 170px
.contact__section
    margin-bottom: 70px
@media screen and ( max-width: 1000px )
    .portfolio__section
        margin-top: 0
    .container__modal
        max-width: 90%
        
@media screen and ( max-width: 678px )
    .section-title 
        font-size: 37px 
        line-height: 45px
    .portfolio__section
        margin-bottom: 75px
        margin-top: 75px
    .news__section
        margin-bottom: 60px

@media screen and ( max-width: 500px )
    .ourcompany__section
        margin-bottom: 75px
