.container
    max-width: 1170px
    margin: 0 auto
    padding: 0 10px
    
body
    @include regular
    color: black
a
    text-decoration: none
    @include semibold
.section-title
    font-size: 45px
    line-height: 65px
.button-red
    background-color: #ff3946
    color: #fff
    min-width: 200px
    display: inline-block
    text-align: center
    padding: 20px 0
    border-radius: 40px
    font-size: 18px
    line-height: 20px
    box-shadow: 0px 19px 32px -17px #515151
    transition: all 0.2s
    

    &:hover
        box-shadow: none
        background-color: #f35762
.button-inherit
    font-size: 18px
    line-height: 20px
    padding: 20px 10px
    transition: all 0.2s
    &:hover
        text-decoration: underline
        
        