.portfolio
    background-image:  url('../images/Bg-4.png')
    background-repeat: no-repeat
    background-position:  left top
    padding-bottom: 150px

.portfolio__header-row
    display: flex
    justify-content: space-between
.portfolio__title
    max-width: 450px
    margin-bottom: 80px
@media screen and ( max-width: 1200px )
    .portfolio__header-row
        justify-content: start
    .slider-gallery .slick-slide div
        justify-content: space-between
    .portfolio__header-row
        flex-direction: column
        align-items: center
    .arrows
            margin-bottom: 45px
    .portfolio__title
        text-align: center
    .portfolio__title
        margin-bottom: 45px